; IcsAppMon.config file

[General]
FileLoggingsDir=c:\weblogs\IcsAppMon\
AdminEmailTo=testing@ftptest.org
AdminEmailStart=False

[IcsAppMonSrv]
MaxSuppApps=32
MonSrvIP=127.0.0.1
MonSrcPort=17778
MonBcastIP=192.168.0.255
MonBcastPort=17777
LANWide=True
LogPackets=True
; leave default timers and timeouts alone for the moment
;BCastSec=300
;DeadSecs=300
;MinDeadSecs=30
;StopWaitSecs=60
;StartWaitSecs=15

; email queue settings
[MailQueue]
ArchiveSent=False
DeleteFailed=True
Debug=True
BodyDebug=False
RetryList=2,2,5,5,10,10,30,30,60,90,300,300,300
MailQuDir=c:\weblogs\IcsAppMon\mailqueue
QuStartDelay=10;
SslVerMethod=MailSslVerBundle
SslRevocation=True
SslReportChain=True
SmtpMethod=MailSmtpRelay
LogQuSent=False
MxSrvUseSsl=False
DnsServers=
MxSocketFamily=sfIPv4
OcspCacheFile=c:\weblogs\IcsAppMon\ocspmailqu.recs
SmtpServ1=mail.magsys.co.uk
SmtpPort1=587
AuthType1=smtpAuthNone
SslType1=smtpTlsExplicit
AuthUser1=
AuthPass1=
SocketFamily1=sfIPAnyv4
RetryWithoutSsl1=False
SslCliSecurity1=sslSrvSecHigh

[RestEmail]
RestEmailType=RestEmailGoogle
ClientId=
ClientSecret=
RefrToken=
MsUserAuth=consumers

; webapp listen server
[WebAppServer]
MaxClients=20
MaxSessions=
SessionTimeout=14400
KeepAliveTimeSec=60
KeepAliveTimeXferSec=300
Options=[hoContentEncoding,hoSendServerHdr,hoAllowPut]
SslCliCertMethod=sslCliCertNone
SslCertAutoOrder=False
CertExpireDays=20
ListenBacklog=25
OcspSrvStapling=True
OcspCacheFile=d:\weblogs\IcsAppMon\ocspservercache.recs

; host stuff

[Host1]
Hosts=localhost
HostTag=APPMON
BindIpAddr=127.0.0.1
BindIpAddr2=::1
BindNonPort=17779
BindSslPort=17780
Desc=appservmon
HostEnabled=True
WebDefDoc=index.htm
WebDocDir=c:\weblogs\IcsAppMon\Web
WebTemplDir=c:\weblogs\IcsAppMon\Web
WebLogDir=c:\weblogs\IcsAppMon\web-www
SslCert=C:\ProgramData\ICS-OpenSSL\ICS-Certs\localhost-bundle.pem
SslPassword=password
SslSecLevel=sslSrvSecHigh
WellKnownPath=D:\websites\well-known


